# <%- compound.kind; %> `<%= compound.compoundname; %>`

```
<%= compound.kind %> <%= compound.compoundname; %> 
<% if (compound.basecompoundref) { %>
<% compound.basecompoundref.forEach(function(basecompoundref) { %>
    
<% }); %>
<% } -%>
```

  <h2>CYKA</h2>



## Summary


